@charset "utf-8";
/* CSS Document */

/* 文件树 小图标  */
.wjs_icoN{width:20px;height:20px;background:url("../images/admin_img/wjs_icoN.png") no-repeat 2px 9px;}
.wjs_icoF{width:20px;height:20px;background:url("../images/admin_img/wjs_icoF.png") no-repeat 2px 9px;}
