<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nyist.edu.cn.mapper.CpzxMapper" >
    
  <!-- 自定义查询  findMaxId   根据parentid查询最大的id -->
  <select id="findMaxId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select MAX(id) from cpzx where parent_id = #{parentId}
  </select>
  
  <select id="findLb"  resultType="nyist.edu.cn.entity.Cpzx">
    select * from cpzx where id like concat('',#{id},'%') and LENGTH(id) &gt; #{idLength}
  </select>
</mapper>